/* Global CSS variables */
:root {
  --dark-emerald-green: #07261B;
  --light-emerald-green: #12402A;
  --teal: #8ababd;
  --sky-blue: #58a3bd;
  --font-family: Verdana, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: var(--font-family);
}

body {
  background-color: rgb(63, 63, 63);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content";
}

/* Sidebar Section */
.sidebar {
  grid-area: sidebar;
  outline: auto red;

  background-color: var(--light-emerald-green);
  
  display: flex;
  flex-direction: column;
  gap: calc(1vw + 20px);
  padding: 15px;

  font-size: calc(10px + .5vw);
}

.sidebar-nav,
.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Header Section */
.header {
  grid-area: header;
  outline: auto green;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search,
.profile-menu,
.greeting,
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Main Content Section */
.main-content {
  grid-area: main-content;
  outline: auto purple;
}