/* Global CSS variables */
:root {
  --dark-emerald-green: #07261B;
  --light-emerald-green: #12402A;
  --teal: #8ababd;
  --sky-blue: #58a3bd;
  --font-family: Verdana, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: rgb(63, 63, 63);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content";
}

/* Sidebar Section */
.sidebar {
  grid-area: sidebar;

  background-color: var(--light-emerald-green);
  
  display: flex;
  flex-direction: column;
  gap: calc(1vw + 20px);
  padding: 15px;

  font-size: calc(10px + .5vw);
}

.sidebar-nav,
.sidebar-footer {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

svg {
  width: 30px;
  fill: var(--teal);
}

.dashboard-logo,
.nav-items {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}

.dashboard-logo > p {
  font-size: 20px;
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

a {
  text-shadow: 0px 3px 2px #0b0b0b;
  text-decoration: none;
  color: white;
}
/* Header Section */
.header {
  grid-area: header;
  background-color: var(--sky-blue);

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search,
.profile-menu,
.greeting,
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Main Content Section */
.main-content {
  padding: 15px;
  grid-area: main-content;
  background-color: var(--teal);

  display: grid;
  grid-template-columns: 4fr 1fr;
}

/* Main Content > Main Left Side > Project Section  */

.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px var(--light-emerald-green) solid;
}

/* Main Content > Main Right Side */
.main-right-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
}

.announcements-section,
.trending-section {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.announcements-section > :nth-child(-n+2) {
  border-bottom: solid .5px;
}

.announcements-section > :not(:first-child) {
  margin-top: 30px;
}

.announcement-child:nth-child(-n+2) {
  padding-bottom: 30px;
}

.profile {
  display: flex;
}

